<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Api">
    <test name="UserTest">
        <classes>
            <class name="com.petstore.test.user.ResponseUser">
                <methods>
                    <include name="postCreateNewUser"/>
                    <include name="getCreatedUser"/>
                    <include name="putUpdateCorrectUser"/>
                    <include name="getNonExistUser"/>
                    <include name="getEditedUser"/>
                    <include name="deleteCurrentUser"/>
                    <include name="getDeletedUser"/>
                </methods>
            </class>
            <class name="com.petstore.test.pet.NewPetTest">
                <methods>
                    <include name="smokeAddPet"/>
                    <include name="addEmptyPet"/>
                    <include name="addPetWithoutID"/>
                    <include name="addPetWithIDOnly"/>
                    <include name="addPetWithStringID"/>
                    <include name="addPetWithDigitName"/>
                    <include name="addPetWithoutCategoryID"/>
                    <include name="addPetWithStringCategoryID"/>
                    <include name="addPetWithoutCategoryName"/>
                    <include name="addPetWithDigitCategoryName"/>
                    <include name="addPetWithManyPhotoUrls"/>
                    <include name="addPetWithStringTagID"/>
                    <include name="addPetWithManyTags"/>
                    <include name="addPetWithNotExistedStatus"/>
                </methods>
            </class>
            <class name="com.petstore.test.user.ApiLoginTest">
                <methods>
                    <include name="checkLoginStatusCode"/>
                </methods>
            </class>
            <class name="com.petstore.test.user.ApiLogoutTest">
                <methods>
                    <include name="checkLogout"/>
                </methods>
            </class>
            <class name="com.petstore.test.user.ApiPostAndGetTest">
                <methods>
                    <include name="checkCreateUser"/>
                    <include name="checkGetUserByUserName"/>
                </methods>
            </class>
            <class name="com.petstore.test.user.ApiTestWithIncorrectData">
                <methods>
                    <include name="checkCreateUserWithIncorrectId"/>
                    <include name="checkGetUserByIncorrectUserName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>