<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">
    <!--ProductComparisonTests-->
    <test name="CompareTest">
        <parameter name="myAccountDropdownText" value="Login"/>
        <parameter name="searchName" value="ip"/>
        <parameter name="defaultProductId" value="40"/>
        <parameter name="firstProductId" value="41"/>
        <parameter name="secondProductId" value="43"/>
        <parameter name="productName" value="iPhone"/>
        <parameter name="firstProductName" value="iPhone"/>
        <parameter name="secondProductName" value="iPod Classic"/>
        <parameter name="expectedEmptyPageResult" value="You have not chosen any products to compare."/>
        <classes>
            <!--LoggedUserProductComparisonTest-->
            <class name="test.product_comparison_test.LoggedUserProductComparisonTest">
                <methods>
                    <include name="AddProductToCompareFromSearch"/>
                    <include name="AddProductToCompareFromMainPage"/>
                    <include name="AddProductToCompareFromProductPage"/>
                    <include name="AddSameProductTwoTimes"/>
                    <include name="CleanAllProductsFromComparison"/>
                    <include name="AddToCartFromComparisonPage"/>
                    <include name="GoToProductPageFromComparisonPage"/>
                    <include name="GoToComparisonPageFromProductCompareLabel"/>
                </methods>
            </class>
            <!--NonLoggedUserProductComparisonTest-->
            <class name="test.product_comparison_test.NonLoggedUserProductComparisonTest">
                <methods>
                    <include name="AddProductToCompareFromSearch"/>
                    <include name="AddProductToCompareFromMainPage"/>
                    <include name="AddProductToCompareFromProductPage"/>
                    <include name="AddSameProductTwoTimes"/>
                    <include name="CleanAllProductsFromComparison"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--MYKHAILO-->

    <!--<test name="addToWishList">
        <parameter name="myAccountDropdownText" value="Login"/>
        <parameter name="fromSearchPageProductName" value="iPod Nano"/>
        <parameter name="fromHomePageProductName" value="MacBook"/>
        <parameter name="fromProductPageProductName" value="iPhone"/>
        <classes>
            <class name="test.TestWishList">
                <methods>
                    <include name="addProductToWishListFromSearchPage"/>
                    <include name="addProductToWishListFromHomePage"/>
                    <include name="addProductToWishListFromProductPage"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="addToCartFromWishList">
        <parameter name="myAccountDropdownText" value="Login"/>
        <parameter name="firstProductName" value="MacBook"/>
        <parameter name="secondProductName" value="iPhone"/>
        <classes>
            <class name="test.TestWishList">
                <methods>
                    <include name="addProductToCartFromWishList"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="removeFromWishList">
        <parameter name="myAccountDropdownText" value="Login"/>
        <parameter name="firstProductName" value="Samsung Galaxy Tab 10.1"/>
        <parameter name="secondProductName" value="Samsung SyncMaster 941BW"/>
        <classes>
            <class name="test.TestWishList">
                <methods>
                    <include name="removeProductFromWishListByName"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="verifyWishListEmptyPage">
        <parameter name="myAccountDropdownText" value="Login"/>
        <parameter name="fromSearchPageProductName" value="iPod Nano"/>
        <parameter name="fromHomePageProductName" value="iPhone"/>
        <parameter name="fromProductPageProductName" value="Samsung Galaxy Tab 10.1"/>
        <parameter name="expectedMessage" value="Your wish list is empty."/>
        <classes>
            <class name="test.TestWishList">
                <methods>
                    <include name="verifyWishListEmptyPageMessage"/>
                </methods>
            </class>
        </classes>
    </test>-->

    <!--MYKHAILO-->

    <!--YuriiSereda-->

   <!-- <test name="YuriiSereda">
        <parameter name="myAccountDropdownText" value="Login"/>
        &lt;!&ndash;  <parameter name="myAccount" value="My Account"/>&ndash;&gt;
        <classes>
            <class name="test.AddressTests">
                <methods>
                    <include name="abilityToAddAddress"/>
                    <include name="abilityToDeleteAddress"/>
                    <include name="editAddress"/>
                    <include name="checkEditPageAlertMassages"/>
                    <include name="checkAbilityToDeleteDefaultAddress"/>
                    <include name="createAddressWithEmptyFirstname"/>
                    <include name="createAddressWithEmptyLastname"/>
                    <include name="createAddressWithEmptyAddress"/>
                    <include name="createAddressWithEmptyCountry"/>
                    <include name="createAddressWithEmptyRegion"/>
                    <include name="checkAlertsWithTooShortInputs"/>
                    <include name="checkAlertsWithTooLongInputs"/>
                    <include name="checkAlertsWithTooLongInputs"/>
                    <include name="createAddressWithNumbersInsteadCharacters"/>
                </methods>
            </class>
        </classes>
    </test>
-->
    <!--YuriiSereda -->

</suite> <!-- Default Suite -->

        <!--end-->